---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Article from "../components/Article.astro";
---
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>水瓶</title>
    <style>
      body {
        background-color: black;
        color: rgb(140, 246, 246);
        width: 800px;
        margin: 0 auto;
        left: 55px;
top: px;
width: px;
height: px;
opacity: 1;
border-radius: 20px;
background: url(https://img.js.design/assets/img/66876a6152a8c9cae6684167.jpg#99a1f90479c69967db2ae17935105624);
box-shadow: 5px 10px 4px  rgba(0, 0, 0, 0.25);
      }
      h1 {
        font-size: 3em;
        margin: 1em 0;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <h1>一个拥有上帝视角的星座</h1>
    <Footer />


  </body>
</html>
