---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Book from "../components/Book.astro";
import Article from "../components/Article.astro";
---

<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>性格</title>
        <style>
            body {
                background-color: rgb(255, 255, 255);
                color: rgb(138, 220, 241);
                width: 800px;
                margin: 0 auto;
            }
            h1 {
                font-size: 3em;
                margin: 1em 0;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <Navigation />
        <h1>水瓶社区</h1>
        <Footer />
        <Article 
    title="水瓶座结束一段关系的原因"
     content="水瓶座很看重两个人相处过程中的感觉，他们的想法令人捉摸不定，所以给人的感觉好像是也不怎么会考虑未来的人。但其实水瓶座是一个非常注重两个人未来的星座，也正是因为看重未来，所以如果连当下的生活都让水瓶座感觉难以继续下去的话，就会让水瓶因看不到未来而重新对两个人的关系做出评估，做出及时止损的行为。当水瓶座对你还能闹脾气有情绪，这些并不是真的想要放弃这段感情：但如果他们不止一次地跟你认真商量问题却并没有引起你的重视，那么水瓶座也不会再跟你浪费口舌，甚至可能会直接消失。"
    />
    <Article 
    title="水瓶座分手前的信号"
     content="就是不再愿意为你而妥协了。一个有自己世界的人在什么情况下会减少一部分自我呢?大概率就是在有爱的时候。而当TA有了想分手的想法时，不自然的就会释放出更多的自我意志，TA很可能不再愿意听你如常的安排，甚至会把一部分决定权拿到手里。当TA们不爱了，估计就彻底自我了。"
    />
    <Article 
    title="别把水瓶座的疏离当欲擒故纵"
    content="和水瓶座初识阶段，能否戳中他们的点很重要，但这确实也靠点运气和缘分，因为水瓶座的理想型或者心动点并没有一套固定的标准模式，所以在一开始就是困难模式。水瓶座在与人相处的初期喜欢拉扯，喜欢猜谜语的感觉。有时越猜不透，越让水瓶座上头，因为在他们心中你是如此的“特别”。如果你不是他们眼中那个“特别”的人，那么水瓶座就会万花丛中过，片叶不沾身。" </Article>
  这个时候你要是把水瓶座的疏离客气当做欲擒故纵，那么你就走进了死胡同了——你越上头，他们越下头，你越主动，他们反而越被动。
  </body>
</html>
