---
let{title="文章标题",content="文章内容"}=Astro.props;
---
<div>
<h1>{title}</h1>
<p>{content}</p>
<slot>
</div>
<style>
    body {
      background-color: rgb(255, 255, 255);
      color: rgb(140, 246, 246);
      width: 800px;
      margin: 0 0 0 auto;
      
    
    }
    h1 {
      font-size: 1.5em;
      margin: 1.3em 0;
      text-align: center;
      left: 200px;
top: 200px;
width: 350px;
height: 40px;
opacity: 1;
border-radius: 18px;
background: rgb(0, 0, 0);
box-shadow: 10px 15px 5px  rgba(0, 0, 0, 0.237)
    }
</style>