<nav>
  <a href="/">首页</a>
  <a href="/books/">水瓶每周运势</a>
  <a href="/blog/">水瓶2024年运势</a>
  <a href="/about/">水瓶恋爱</a>
  <a href="/shuangzizuo/">水瓶性格</a>
  <a href="/title/">近期话题</a>
</nav>
<style>
  nav {
    margin: 2em 0;
  }
  a {
    font-size: 15px;
    color: white;
    margin-left: 2em;
    padding: 1em;
    text-decoration: none;
  }
  a:hover {
    background-color: #13f7f0;
    color: rgb(255, 255, 255);
  }
</style>
